<!DOCTYPE html>
{% extends "main.html" %}
{% block header %}
    <meta charset="utf-8"><title>LineChart</title>
{% endblock %}

{% block content %}
    <div id="data" style="display: none">
        {{js_data|safe}}
    </div>


    <div id="main"  style="width: 1200px;height:500px;"></div>
    {% load staticfiles %}

    <script src = "{%static 'js/jquery-3.2.1.js' %}"></script>
    <script src = "{%static 'js/linechart.js' %}"></script>
{% endblock %}

