{% load staticfiles %}
<link rel="stylesheet" href= "{%static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/echarts.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>

<link rel="stylesheet" href="{%static 'css/main.css' %}">
<!--<link rel="stylesheet" href= "{%static 'css/main.css' %}">-->

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block header %} <title>Main page</title> {% endblock %}
    </head>

    <body style = "background-color: #999999">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8000/">Home</a></li>
            <li><a href="http://localhost:8000/pcenters">Popular Centers</a></li>
            <li><a href="http://localhost:8000/cactivity">Center activities</a></li>
            <li><a href="http://localhost:8000/pusers">Popular users</a></li>
            <li><a href="http://localhost:8000/network">User network</a></li>
            <li><a href="http://localhost:8000/predict">Friend recommendation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% block content %}{% endblock %}
    </body>
</html>
