{% extends "main.html" %}

{% load staticfiles %}
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<!DOCTYPE html>


{% block header %}
    <title>Friend recommendation</title>
{% endblock%}

{% block content%}
  <script>
    function PostData() {
        $.ajax({
            type: "GET",
            url: "tweeter/",
            dataType: "json",
            data: $("#username").serialize(),
            success: function(msg) {
              console.log(msg);
              if(msg.status == "no_db"){
                alert("This user in not in my database!")
              }
              else if(msg.status == "no_user"){
                alert("The user does not exist!")
              }
              else {
                var trhtml = "";
                for (i in msg.friends) {
                  trhtml += '<tr><td>' + msg.friends[i] + '</td><td>';
                }
                <!--$.each(msg.friends, function(item, index){-->
                  <!--console.log(item);-->
                  <!--trhtml += '<tr><td>' + item + '</td><td>';-->
                <!--})-->
                $("#friends").html(trhtml);
              }
            }
        });
        return false;
    }
  </script>
  <div id="input_user">
    <h3>Find people you may want to follow</h3>
      {% csrf_token %}
      <form onsubmit="return PostData()">
        <label for="username">Your twitter username: &emsp;</label>
        <input id="username" type="text" name="username">
        <input type="submit" value="OK">
      </form>
      <table align="center" id="friends">
        <tr>
          <th>Recommended Friends</th>
        </tr>
      </table>
      <!--<br>-->
        <!--<p>Your tweeter username <input type="text" name="username" />-->
          <!--<input class="username_submit" type="submit" value="Confirm" />-->
        <!--</p>-->
  </div>
  <br>
{%endblock%}
