<!DOCTYPE html>
{% extends "main.html" %}

{% block header %}
    <meta charset="utf-8"><title>Social Network</title>
{% endblock %}
{% block content%}
<div id="input_user">
    <form action="http://localhost/network/">
        <input type="submit" value="Link to Graph" />
    </form>
</div>
{% endblock %}
