<!DOCTYPE html>
{% extends "main.html" %}
{% block header %}  <meta charset="utf-8"><title>Barchart</title> {% endblock %}
{% block content %}
    {% load staticfiles %}
    <div id="main" style="width: 1200px;height:500px;"></div>
    <script src="{% static 'js/barchart.js' %}"></script>
{% endblock %}
