<!DOCTYPE html>
{% extends "main.html" %}
{% block header %}  <meta charset="utf-8"><title>Popular user</title> {% endblock %}
{% block content %}
    {% load staticfiles %}
    <div id="data_json" style="display: none">
        {{sub_graph|safe}}
    </div>
    <div id="user0"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user1"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user2"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user3"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user4"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user5"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user6"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user7"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user8"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <br>
    <div id="user9"  style="margin:0px auto; width: 900px;height:900px; "></div>
    <script src="{% static 'js/puser.js' %}"></script>
{% endblock %}
